# Keil MDK-ARM user/build artifacts
Code/projects/MDK-ARM/Objects/
Code/projects/MDK-ARM/Listings/
Code/projects/MDK-ARM/bin/
Code/projects/MDK-ARM/*.uvoptx
Code/projects/MDK-ARM/*.uvguix.*
Code/projects/MDK-ARM/JLinkLog.txt
Code/projects/MDK-ARM/JLinkSettings.ini
.vscode/
**/.vscode/
**/Objects/
**/Listings/
**/bin/
**/*.uvoptx
**/*.uvguix.*
**/JLinkLog.txt
**/JLinkSettings.ini

# Common binary packages and tools
*.exe
*.dll
*.apk
*.zip
*.obj
*.axf
*.bin
*.hex

# Sensitive files
*.pem
*private_key*

# DFU generated/output folders
Code/**/utilities/dfu/keys/
Code/**/utilities/dfu/NSAndroidUtil/
Code/**/utilities/dfu/NSUtil/
Code/**/utilities/dfu/NSpyocd/
Code/**/utilities/dfu/Image/**/Image/
Code/**/utilities/dfu/JLink/JLink_V632/
**/utilities/dfu/keys/
**/utilities/dfu/NSAndroidUtil/
**/utilities/dfu/NSUtil/
**/utilities/dfu/NSpyocd/
**/utilities/dfu/Image/
**/utilities/dfu/JLink/

# BLE symbol output
Code/**/middlewares/Nationstech/ble_library/ns_ble_stack/symdef/
**/middlewares/Nationstech/ble_library/ns_ble_stack/symdef/

# Local docs and exports
Doc/JLink_V892/
CirCuit/*.htm
